<fws-page-header> {{ title }} sponsor {{ sponsor.name }} </fws-page-header>

<fws-widget>
  <div class="form-group">
    <label>Nom</label>
    <input
      required
      class="form-control"
      placeholder="Nom"
      [(ngModel)]="sponsor.name"
      type="text"
      ngControl="title"
    />
  </div>
  <div class="form-group">
    <label>Site Web</label>
    <input
      required
      class="form-control"
      placeholder="URL"
      [(ngModel)]="sponsor.siteUrl"
      type="text"
      ngControl="title"
    />
  </div>
  <div class="form-group">
    <label>Logo</label>
    <input
      required
      class="form-control"
      placeholder="URL"
      [(ngModel)]="sponsor.logoUrl"
      type="text"
      ngControl="title"
    />
  </div>

  <div class="alert alert-danger" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
  <div>
    <button (click)="goBack()" class="btn btn-grey">
      <span class="fa fa-arrow-left"></span> Retour
    </button>
    <div class="pull-right btn-toolbar">
      <button
        *ngIf="sponsor.sponsorId"
        (click)="openModal(template)"
        class="btn btn-danger mr-2"
      >
        <span class="fa fa-trash"></span> Supprimer
      </button>
      <button
        *ngIf="sponsor.sponsorId"
        (click)="saveSponsor()"
        type="submit "
        class="btn btn-primary"
      >
        <span class="fa fa-floppy-o"></span>
        Sauvegarder
      </button>
      <button
        *ngIf="!sponsor.sponsorId"
        (click)="createSponsor()"
        type="submit "
        class="btn btn-primary"
      >
        <span class="fa fa-plus"></span>
        Ajouter
      </button>
    </div>
  </div>
</fws-widget>

<ng-template #template>
  <div class="modal-header">
    <div class="modal-title">
      <span class="fa fa-trash>"></span> Supprimer partenaire?
    </div>
  </div>
  <div class="modal-body">
    <p>
      Etes-vous sûr de vouloir supprimer le partenaire
      <b>{{ sponsor.name }}?</b>
    </p>
    <div class="modal-footer">
      <button type="button" class="btn btn-grey" (click)="cancel()">
        Non
      </button>
      <button type="button" class="btn btn-danger" (click)="deleteSponsor()">
        Supprimer
      </button>
    </div>
  </div>
</ng-template>
