<fws-page-header>Classement</fws-page-header>

<div>
  <fws-widget>
    <div *ngIf="success" class="alert alert-success">
      Le classement a été mis à jour avec succès.
    </div>

    <div *ngIf="errorMessage != null" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <!-- <h4>Mise à jour du Classement par la lafa</h4> -->
    <p>Les données seront mises à jour par le biais du site de la LGEF.</p>
    <button (click)="updateRankingFromLafa()" class="btn btn-primary">
      Mettre à jour
    </button>
  </fws-widget>
</div>
