.box {
  height: 60px;
}

@media (min-width: 768px) {
  .box {
    height: 60px;
  }
}
@media (min-width: 992px) {
  .box {
    height: 60px;
  }
}
@media (min-width: 1200px) {
  .box {
    height: 80px;
  }
}

h4 {
  margin-bottom: 0;
}
