<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#"></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" style="margin-left: 110px;">
        <li
          class="nav-item"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
        >
          <a
            class="nav-link"
            href=""
            routerLinkActive="active"
            [routerLink]="['']"
            >Accueil</a
          >
        </li>
        <li
          class="nav-item"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
        >
          <a
            class="nav-link"
            href=""
            routerLinkActive="active"
            [routerLink]="['news']"
            >News</a
          >
        </li>
        <li class="nav-item dropdown position-static">
          <a
            href="#"
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            data-target="#"
            >EQUIPES</a
          >
          <!-- div.w-100 make it mega menu, div.top-auto opens the mega menu exactly as position like other normal menu -->
          <div class="dropdown-menu w-100 top-auto bg-secondary text-white">
            <div class="container">
              <!-- div.w-100 is also needed in certain circumstances to make this menu a mega menu -->
              <div class="row w-100">
                <div
                  class="text-center col-sm-4"
                  *ngFor="let team of teams; let i = index"
                >
                  <h5 class="text-primary">Equipe {{ i + 1 }}</h5>
                  <li>
                    <a href="#" [routerLink]="['team', team.id]">Effectif</a>
                  </li>
                  <li *ngIf="i == 0">
                    <a href="" [routerLink]="['ranking']">Classement</a>
                  </li>
                  <li *ngIf="i == 0">
                    <a href="" [routerLink]="['fixtures']">Calendrier</a>
                  </li>
                  <li *ngIf="i != 0" class="divider"></li>
                  <li *ngIf="i != 0" class="text-primary font-weight-bold">
                    LGEF
                  </li>
                  <li *ngIf="i != 0">
                    <a href="{{ team.rankingUrl }}" target="_blank"
                      >Classement</a
                    >
                  </li>
                  <li *ngIf="i != 0">
                    <a href="{{ team.calendarUrl }}" target="_blank"
                      >Calendrier</a
                    >
                  </li>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- <li
          class="nav-item dropdown"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
        >
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Equipes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a
              class="dropdown-item"
              *ngFor="let team of teams; let i = index"
              href="#"
              [routerLink]="['team', team.id]"
              >Equipe {{ i + 1 }}</a
            >
          </div>
        </li> -->

        <li
          class="nav-item"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
        >
          <a
            class="nav-link"
            href=""
            routerLinkActive="active"
            [routerLink]="['ranking']"
            >Classement</a
          >
        </li>
        <li
          class="nav-item"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
        >
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['fixtures']"
            >Calendrier</a
          >
        </li>
        <li
          class="nav-item"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
        >
          <a class="nav-link" routerLinkActive="active" [routerLink]="['stats']"
            >Stats</a
          >
        </li>
        <li class="nav-item dropdown position-static">
          <a
            href="#"
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            data-target="#"
            >CLUB</a
          >
          <!-- div.w-100 make it mega menu, div.top-auto opens the mega menu exactly as position like other normal menu -->
          <div class="dropdown-menu w-100 top-auto bg-secondary text-white">
            <div class="container">
              <!-- div.w-100 is also needed in certain circumstances to make this menu a mega menu -->
              <div class="row w-100">
                <a
                  class="dropdown-item"
                  href="#"
                  [routerLink]="['club', 'history']"
                  >Histoire</a
                >
                <a
                  class="dropdown-item"
                  href="#"
                  [routerLink]="['club', 'organizational-chart']"
                  >Organigramme</a
                >
              </div>
            </div>
          </div>
        </li>
        <!-- <li
          class="nav-item dropdown"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
        >
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Club
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" [routerLink]="['club', 'history']"
              >Histoire</a
            >
            <a
              class="dropdown-item"
              href="#"
              [routerLink]="['club', 'organizational-chart']"
              >Organigramme</a
            >
          </div>
        </li> -->

        <li
          class="nav-item"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
        >
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['sponsors']"
            >Partenaires</a
          >
        </li>
        <li
          class="nav-item"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
        >
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['contacts']"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
