.football-pitch {
  width: 640px;
  height: 380px;
  position: relative;
  margin: 0 auto;
  top: calc(50% - 380px / 2);
  overflow: hidden;
}
.marking {
  background: #69b05a;
  position: absolute;
  z-index: 2;
}
.outline.marking {
  border: 4px solid #69b05a;
  width: 100%;
  height: 100%;
  background: transparent;
}
.center-line {
  width: 4px;
  height: 100%;
  top: 0;
  left: calc(50% - 4px / 2);
}
.center-circle {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  border: 4px solid #69b05a;
  background: none;
  top: calc(50% - 120px / 2);
  left: calc(50% - 120px / 2);
}
.box {
  top: 25%;
  width: 16%;
  height: 50%;
  background: transparent;
  border: 4px solid #69b05a;
}
.box.left {
  left: 0;
}
.box.right {
  right: 0;
}
.box.small {
  top: 36%;
  width: 8%;
  height: 28%;
}
.box-d {
  top: 35%;
  width: 15%;
  height: 30%;
  background: transparent;
  border: 4px solid #69b05a;
}
.box-d.left {
  left: 5%;
  border-left: none;
  border-bottom-right-radius: 1000px;
  border-top-right-radius: 1000px;
  clip-path: inset(0 0 0 70%);
}
.box-d.right {
  right: 5%;
  border-right: none;
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px;
  clip-path: inset(0 70% 0 0);
}
.spot {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  top: calc(50% - 4px / 2);
}
.spot.left {
  left: 11%;
}
.spot.right {
  right: 11%;
}
.spot.center {
  width: 8px;
  height: 8px;
  left: calc(50% - 4px);
}
.corner {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: none;
  border: 4px solid #69b05a;
}
.corner.top {
  top: -20px;
}
.corner.left {
  left: -20px;
}
.corner.bottom {
  bottom: -20px;
}
.corner.right {
  right: -20px;
}
.grass {
  width: 100%;
  height: 100%;
  background-color: #358626;
}
.grass:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-image: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==');
}
.grass:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: repeating-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1) 40px,
    transparent 40px,
    transparent 80px
  );
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  background: #333;
}
* {
  box-sizing: border-box;
}

$player-item-size: 70px;

.GB {
  position: absolute;
  left: 0%;
  top: calc(50% - #{$player-item-size} / 2);
  z-index: 1000;
}

.DG {
  position: absolute;
  left: 20%;
  top: calc(10% - #{$player-item-size} / 2);
  z-index: 1000;
}

.DD {
  position: absolute;
  left: 20%;
  top: calc(90% - #{$player-item-size} / 2);
  z-index: 1000;
}

.DCG {
  position: absolute;
  left: 15%;
  top: calc(30% - #{$player-item-size} / 2);
  z-index: 1000;
}

.DCC {
  position: absolute;
  left: 15%;
  top: calc(50% - #{$player-item-size} / 2);
  z-index: 1000;
}

.DCD {
  position: absolute;
  left: 15%;
  top: calc(70% - #{$player-item-size} / 2);
  z-index: 1000;
}

.ALG {
  position: absolute;
  left: 40%;
  top: calc(15% - #{$player-item-size} / 2);
  z-index: 1000;
}

.ALD {
  position: absolute;
  left: 40%;
  top: calc(85% - #{$player-item-size}/ 2);
  z-index: 1000;
}

.MDG {
  position: absolute;
  left: 35%;
  top: calc(35% - #{$player-item-size} / 2);
  z-index: 1000;
}

.MRG {
  position: absolute;
  left: 50%;
  top: calc(35% - #{$player-item-size} / 2);
  z-index: 1000;
}

.MDC {
  position: absolute;
  left: 35%;
  top: calc(50% - #{$player-item-size} / 2);
  z-index: 1000;
}

.MDD {
  position: absolute;
  left: 35%;
  top: calc(65% - #{$player-item-size}/ 2);
  z-index: 1000;
}

.MRD {
  position: absolute;
  left: 50%;
  top: calc(65% - #{$player-item-size}/ 2);
  z-index: 1000;
}

.MG {
  position: absolute;
  left: 50%;
  top: calc(15% - #{$player-item-size} / 2);
  z-index: 1000;
}

.MOG {
  position: absolute;
  left: 65%;
  top: calc(15% - #{$player-item-size} / 2);
  z-index: 1000;
}

.MD {
  position: absolute;
  left: 50%;
  top: calc(85% - #{$player-item-size} / 2);
  z-index: 1000;
}

.MOD {
  position: absolute;
  left: 65%;
  top: calc(85% - #{$player-item-size} / 2);
  z-index: 1000;
}

.MOC {
  position: absolute;
  left: 65%;
  top: calc(50% - #{$player-item-size} / 2);
  z-index: 1000;
}

.AVC {
  position: absolute;
  left: 80%;
  top: calc(50% - #{$player-item-size} / 2);
  z-index: 1000;
}

.AVG {
  position: absolute;
  left: 80%;
  top: calc(30% - #{$player-item-size} / 2);
  z-index: 1000;
}

.AVD {
  position: absolute;
  left: 80%;
  top: calc(70% - #{$player-item-size} / 2);
  z-index: 1000;
}

.player {
  font-size: 14px;
  color: white;
  font-weight: bold;
}
