.content-container {
  padding: 20px;
  background-color: rgba(4, 91, 36, 0.8);
}

.background {
  background-image: url('https://cdn.marez.fr/football/backgroung.png');
  width: 800px;
  padding: 40px;
  color: white;
  font-family: 'Lexend Tera', sans-serif;
}

.website {
  margin-top: 10px;
}
