<fws-page-header>
  Clubs
</fws-page-header>
<a
  class="btn btn-primary pull-right mt-2"
  href=""
  [routerLink]="['/admin/clubs/0/edit']"
>
  <span class="fa fa-plus"></span> Club
</a>
<div class="mt-4" *ngIf="teams">
  <fws-widget [headerText]="teams.length + ' clubs'">
    <ul class="list-group">
      <li *ngFor="let team of teams" class="list-group-item">
        <a [routerLink]="[team.id, 'edit']">
          <img [src]="getLogo(team.name)" />
          {{ team.name }} / {{ team.shortName }}</a
        >
        {{ team.affiliationNumber }}
        <img
          style="width: 30px;"
          src="https://android-apiapp.azureedge.net/common/bib_img/logo/{{
            team.affiliationNumber
          }}.jpg"
        />
      </li>
    </ul>
  </fws-widget>
</div>
