<fws-page-header>
  Nos Partenaires - Merci à vous!
</fws-page-header>

<div class="container mt-3">
  <fws-widget [transparent]="true" [contentMargin]="false" [loading]="loading">
    <div class="row">
      <div
        *ngFor="let sponsor of sponsors"
        class="col-md-2 col-sm-3 col-xs-6 p-1"
        title="{{ sponsor.name }}"
      >
        <div class="card shadow p-2">
          <a
            href="{{ sponsor.siteUrl }}"
            target="_blank"
            title="{{ sponsor.name }}"
          >
            <div class="md-3-square">
              <img
                class="img-fluid"
                src="../../../assets/img/sponsors/{{ sponsor.logoUrl }}"
              />
            </div>
          </a>
        </div>
      </div>
    </div>
  </fws-widget>
</div>
