<span
  *ngIf="game.homeTeamScore != null && game.awayTeamScore != null"
  class="badge"
  [ngClass]="{
    'badge-success': game.result == 'W',
    'badge-danger': game.result == 'L',
    'badge-default': game.result == 'D'
  }"
>
  <span style="font-size: 18px;"
    >{{ game.homeTeamScore }} - {{ game.awayTeamScore }}</span
  >

  <div
    style="margin-top: 5px;"
    *ngIf="game.homePenaltyScore != null && game.awayPenaltyScore != null"
  >
    TAB {{ game.homePenaltyScore }} - {{ game.awayPenaltyScore }}
  </div>
</span>

<span
  *ngIf="game.postponed"
  class="badge badge-warning"
  style="font-size: 18px;"
>
  remis
</span>
