<fws-page-header>
  Articles
</fws-page-header>
<a
  class="mt-2 btn btn-primary float-right"
  href=""
  [routerLink]="['/admin/articles/0/edit']"
>
  <span class="fa fa-plus"></span> Article
</a>

<div class="mt-4" id="articles" *ngIf="articles$ | async as articles">
  <fws-widget [headerText]="articles.length + ' articles'" [loading]="">
    <table class="table table-hover table-clickable table-borderless">
      <thead>
        <tr>
          <th>Titre</th>
          <th>Auteur</th>
          <th>Published</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articles" (click)="onselect(article)">
          <td>
            {{ article.title }}
          </td>
          <td>
            {{ article.publisher }}
          </td>
          <td>
            {{ article.publishedDate | date: 'dd/MM/yyyy' }}
          </td>
        </tr>
      </tbody>
    </table>
  </fws-widget>
</div>
