<div class="d-flex bg-grey" *ngIf="game">
  <!-- Home -->
  <div class="text-center">
    <div class="flex-column">
      <div class="p-2 p-lg-5">
        <img class="img" src="{{ game.homeTeamLogoUrl }}" />
      </div>
      <div class="bg-primary p-2 small font-weight-bold">
        {{ game.homeTeam }}
      </div>
    </div>
  </div>

  <!-- Score -->
  <div class="text-center flex-grow-1">
    <div class="d-flex flex-column h-100">
      <div class="bg-primary p-2 font-weight-bold">{{ game.championship }}</div>
      <div class="text-primary h-75">
        <div class="d-flex h-100 bg-white">
          <div class="flex-fill align-self-center font-weight-bold display-4">
            <span
              *ngIf="game.homeTeamScore != null && game.awayTeamScore != null"
            >
              <span class="text-success">{{ game.homeTeamScore }}</span
              >:<span class="text-black-50">{{ game.awayTeamScore }}</span>
            </span>
            <span
              *ngIf="game.homeTeamScore == null && game.awayTeamScore == null"
            >
              vs
            </span>
          </div>
        </div>
      </div>
      <div class="bg-tertiary p-2 text-grey small">
        {{ game.matchDate | date: 'dd.LL.yyyy' }}
      </div>
    </div>
  </div>

  <!-- Away -->
  <div class="text-center">
    <div class="flex-column">
      <div class="p-2 p-lg-5">
        <img class="img" src="{{ game.awayTeamLogoUrl }}" />
      </div>
      <div class="bg-primary p-2 small font-weight-bold">
        {{ game.awayTeam }}
      </div>
    </div>
  </div>
</div>
