<h2>Matches</h2>
<div class="card" *ngIf="games$ | async as games; else loading">
  <div class="card-header">
    <a
      class="btn btn-success pull-right"
      href=""
      [routerLink]="['/admin/games/0/edit']"
    >
      <span class="glyphicon glyphicon-plus"></span> Matches
    </a>
    <h4>{{ games.length }} matches</h4>
  </div>
  <div class="card-body">
    <table class="table table-hover table-clickable">
      <thead>
        <tr>
          <th>Date</th>
          <th>Domicile</th>
          <th>Extérieur</th>
          <th>Competition</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of games" (click)="onGameSelect(game)">
          <td>
            {{ game.MatchDate | frDate: 'shortDate' }}
            {{ game.MatchDate | frDate: 'time' }}
          </td>
          <td>
            {{ game.HomeTeam }}
          </td>
          <td>
            {{ game.AwayTeam }}
          </td>
          <td><fws-competition [game]="game"></fws-competition></td>
          <td>{{ game.HomeTeamScore }} - {{ game.AwayTeamScore }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #loading>
  Chargement des matches...
</ng-template>
