.page-header {
  background-color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.siteTitle {
  padding-left: 120px;
}

.siteTitle h1 {
  font-size: 27px;
}

.menuTitle {
  padding-left: 106px;
}

.subHeader {
  display: block;
  margin-top: -8px;
  margin-bottom: 10px;
}

#logo {
  position: absolute;
  width: 120px;
  top: 10px;
  z-index: 1500;
}
