<!-- <fws-page-header [white]="true">
  Staff
</fws-page-header>

<div class="bg-secondary">
  <div class="container">
    <div class="row">
      <fws-team-position-block
        [players]="coaches"
        [loading]="loading"
      ></fws-team-position-block>
    </div>
  </div>
</div> -->

<fws-page-header>
  {{ team?.displayName }}
</fws-page-header>

<div class="container my-4">
  <div class="row">
    <div class="container col-12">
      <div class="mb-4">
        <fws-team-position-block
          title="Gardiens"
          [players]="goalkeeperPlayers"
          [loading]="loading"
        ></fws-team-position-block>
      </div>

      <div class="mb-4">
        <fws-team-position-block
          title="Defenseurs"
          [players]="defenderPlayers"
          [loading]="loading"
        ></fws-team-position-block>
      </div>

      <div class="mb-4">
        <fws-team-position-block
          title="Milieux"
          [players]="midfieldPlayers"
          [loading]="loading"
        ></fws-team-position-block>
      </div>

      <div class="mb-4">
        <fws-team-position-block
          title="Attaquants"
          [players]="attackerPlayers"
          [loading]="loading"
        ></fws-team-position-block>
      </div>
      <div class="mb-4">
        <fws-team-position-block
          title="Staff"
          [players]="coaches"
          [loading]="loading"
        ></fws-team-position-block>
      </div>
    </div>
  </div>
</div>
