<fws-page-header>
  {{ game.homeTeam }} - {{ game.awayTeam }}
  <fws-game-score [game]="game"></fws-game-score>
</fws-page-header>

<div class="my-4">
  <fws-widget headerText="Ajouter Joueur">
    <form>
      <div class="row">
        <div class="col-md-5">
          <select
            class="form-control"
            [(ngModel)]="newGamePlayer.playerId"
            name="selectedPlayer"
            title="Joueur"
          >
            <option
              *ngFor="let playerItem of players"
              [ngValue]="playerItem.id"
            >
              {{ playerItem.lastName }} {{ playerItem.firstName }}
            </option>
          </select>
        </div>
        <div class="col-md-5">
          <select
            class="form-control"
            [(ngModel)]="newGamePlayer.position"
            name="position"
            title="position"
          >
            <option value="GB">Gardien</option>
            <option value="DD">Défenseur Droit</option>
            <option value="DG">Défenseur Gauche</option>
            <option value="DCC">Défenseur Central</option>
            <option value="DCG">Défenseur Central Gauche</option>
            <option value="DCD">Défenseur Central Droit</option>
            <option value="ALG">Arrière lateral Gauche</option>
            <option value="ALD">Arrière lateral Droit</option>
            <option value="MDG">Milieu Défensif Gauche</option>
            <option value="MDD">Milieu Défensif Droit</option>
            <option value="MDC">Milieu Défensif Centre</option>
            <option value="MRG">Milieu Relayeur Gauche</option>
            <option value="MRD">Milieu Relayeur Droit</option>
            <option value="MG">Milieu Gauche</option>
            <option value="MD">Milieu Droit</option>
            <option value="MC">Milieu Centre</option>
            <option value="MOD">Milieu Offensif Droit</option>
            <option value="MOC">Milieu Offensif Central</option>
            <option value="MOG">Milieu Offensif Gauche</option>
            <option value="AVD">Avant Droit</option>
            <option value="AVG">Avant Gauche</option>
            <option value="AVC">Avant Centre</option>
            <option value="R1">Remplacant 1</option>
            <option value="R2">Remplacant 2</option>
            <option value="R3">Remplacant 3</option>
            <option value="R4">Remplacant 4</option>
            <option value="R5">Remplacant 5</option>
            <option value="R6">Remplacant 6</option>
            <option value="R7">Remplacant 7</option>
            <option value="R8">Remplacant 8</option>
            <option value="R9">Remplacant 9</option>
            <option value="R10">Remplacant 10</option>
            <option value="R11">Remplacant 11</option>
          </select>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary" (click)="addPlayer()">
            <span class="fa fa-plus"></span> Ajouter
          </button>
        </div>
      </div>
    </form>
  </fws-widget>
</div>

<fws-widget headerText="Composition">
  <div class="row">
    <div class="col-md-6">
      <table
        class="table table-clickable table-hover table-borderless"
        *ngIf="gamePlayers"
      >
        <tbody>
          <tr
            *ngFor="let player of gamePlayers"
            (click)="selectGamePlayer(player)"
          >
            <td>
              {{ player.position }}
            </td>
            <td>{{ player.playerLastName }} {{ player.playerFirstName }}</td>

            <td>
              <span *ngFor="let event of player.events">
                <fws-event-type [event]="event"></fws-event-type>
              </span>
            </td>
            <td>
              <a class="btn btn-xs" (click)="removePlayer(player)">
                <span class="fa fa-trash"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6" *ngIf="newEvent">
      <h4>
        Ajouter évènement {{ newEvent.playerFirstName }}
        {{ newEvent.playerLastName }}
      </h4>
      <div class="row">
        <div class="col-md-4">
          <select [(ngModel)]="newEvent.eventTypeId" class="form-control">
            <option
              *ngFor="let eventType of eventTypes"
              [value]="eventType.id"
              >{{ eventType.name }}</option
            >
          </select>
        </div>
        <div class="col-md-3">
          <input
            type="number"
            [(ngModel)]="newEvent.time"
            class="form-control"
            placeholder="Minute"
          />
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary" (click)="addEvent()">
            <span class="fa fa-plus"></span> Ajouter
          </button>
        </div>
      </div>

      <h4
        *ngIf="selectedGamePlayerEvents && selectedGamePlayerEvents.length > 0"
      >
        Evenements
      </h4>

      <ul class="list-unstyled">
        <li *ngFor="let event of selectedGamePlayerEvents">
          <fws-event-type [event]="event"></fws-event-type>
          {{ event.time }}ème
          <a class="btn btn-xs" (click)="delete(event)"
            ><span class="fa fa-trash"></span
          ></a>
        </li>
      </ul>
    </div>
  </div>
</fws-widget>

<div class="card">
  <div class="card-body">
    <hr />
  </div>
  <fws-pitch *ngIf="gamePlayers" [players]="gamePlayers"></fws-pitch>
</div>
