<h3 *ngIf="game">
  {{ game.HomeTeam }} - {{ game.AwayTeam }}
  <fws-game-score [game]="game"></fws-game-score>
</h3>

<div class="card">
  <div class="card-body">
    <form>
      <div class="row">
        <div class="col-md-5">
          <select
            class="form-control"
            [(ngModel)]="newGamePlayer.playerId"
            name="selectedPlayer"
          >
            <option
              *ngFor="let playerItem of players"
              [ngValue]="playerItem.id"
            >
              {{ playerItem.lastName }} {{ playerItem.firstName }}
            </option>
          </select>
        </div>
        <div class="col-md-5">
          <select
            class="form-control"
            [(ngModel)]="newGamePlayer.position"
            name="position"
          >
            <option value="GB">Gardien</option>
            <option value="DD">Défenseur Droit</option>
            <option value="DG">Défenseur Gauche</option>
            <option value="DCC">Défenseur Central</option>
            <option value="DCG">Défenseur Central Gauche</option>
            <option value="DCD">Défenseur Central Droit</option>
            <option value="ALG">Arrière lateral Gauche</option>
            <option value="ALD">Arrière lateral Droit</option>
            <option value="MDG">Milieu Défensif Gauche</option>
            <option value="MDD">Milieu Défensif Droit</option>
            <option value="MDC">Milieu Défensif Centre</option>
            <option value="MRG">Milieu Relayeur Gauche</option>
            <option value="MRD">Milieu Relayeur Droit</option>
            <option value="MG">Milieu Gauche</option>
            <option value="MD">Milieu Droit</option>
            <option value="MC">Milieu Centre</option>
            <option value="MOD">Milieu Offensif Droit</option>
            <option value="MOC">Milieu Offensif Central</option>
            <option value="MOG">Milieu Offensif Gauche</option>
            <option value="AVD">Avant Droit</option>
            <option value="AVG">Avant Gauche</option>
            <option value="AVC">Avant Centre</option>
            <option value="R1">Remplacant 1</option>
            <option value="R2">Remplacant 2</option>
            <option value="R3">Remplacant 3</option>
            <option value="R4">Remplacant 4</option>
            <option value="R5">Remplacant 5</option>
          </select>
        </div>
        <div class="col-md-2">
          <a class="btn btn-default" (click)="addPlayer()">Add</a>
        </div>
      </div>
    </form>

    <hr />
    <div class="row">
      <div class="col-md-6">
        <h4>Composition</h4>
        <table
          class="table table-clickable table-hover table-striped"
          *ngIf="gamePlayers"
        >
          <tr
            *ngFor="let player of gamePlayers"
            (click)="selectGamePlayer(player)"
          >
            <td>
              {{ player.position }}
            </td>
            <td>{{ player.playerLastName }} {{ player.playerFirstName }}</td>
            <td>
              <span *ngFor="let event of player.events">
                <span *ngIf="event.eventTypeId == 0" style="margin-right: 4px">
                  <i
                    class="fa fa-futbol-o"
                    aria-hidden="true"
                    [title]="event.time"
                  ></i>
                </span>
              </span>
            </td>
            <td>
              <span *ngFor="let event of player.events">
                <span *ngIf="event.eventTypeId == 1" style="margin-right: 4px">
                  <i
                    class="fa fa-eye"
                    aria-hidden="true"
                    [title]="event.time"
                  ></i>
                </span>
              </span>
            </td>
            <td>
              <a class="btn btn-xs"
                ><span
                  class="glyphicon glyphicon-trash"
                  (click)="removePlayer(player)"
                ></span
              ></a>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-6" *ngIf="newEvent">
        <h4>
          Ajouter évènement {{ newEvent.playerFirstName }}
          {{ newEvent.playerLastName }}
        </h4>
        <div class="row">
          <div class="col-md-6">
            <select [(ngModel)]="newEvent.eventTypeId" class="form-control">
              <option value="0">But</option>
              <option value="1">Passe</option>
            </select>
          </div>
          <div class="col-md-2">
            <input
              type="number"
              [(ngModel)]="newEvent.time"
              class="form-control"
              placeholder="Minute"
            />
          </div>
          <div class="col-md-4">
            <a class="btn btn-primary" (click)="addEvent()">Ajouter</a>
          </div>
        </div>

        <h4
          *ngIf="
            selectedGamePlayerEvents && selectedGamePlayerEvents.length > 0
          "
        >
          Evenements
        </h4>

        <ul class="list-unstyled">
          <li *ngFor="let event of selectedGamePlayerEvents">
            <span *ngIf="event.eventTypeId == 0" style="margin-right: 4px">
              <i
                class="fa fa-futbol-o"
                aria-hidden="true"
                [title]="event.time"
              ></i>
            </span>
            <span *ngIf="event.eventTypeId == 1" style="margin-right: 4px">
              <i class="fa fa-eye" aria-hidden="true" [title]="event.time"></i>
            </span>
            {{ event.time }}ème
            <a class="btn btn-xs" (click)="delete(event)"
              ><span class="glyphicon glyphicon-trash"></span
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <fws-pitch *ngIf="gamePlayers" [players]="gamePlayers"></fws-pitch>
</div>
