<fws-page-header> {{ title }} Equipe </fws-page-header>

<div class="mt-4" *ngIf="team">
  <fws-widget [headerText]="team.name" [error]="errorMessage">
    <div class="form-group">
      <label>Nom</label>
      <input
        required
        class="form-control"
        placeholder="Nom"
        [(ngModel)]="team.name"
        type="text"
        ngControl="name"
      />
    </div>
    <div class="form-group">
      <label>Nom court</label>
      <input
        required
        class="form-control"
        placeholder="Nom court"
        [(ngModel)]="team.shortName"
        type="text"
        ngControl="shortName"
      />
    </div>
    <div class="form-group">
      <div class="form-check">
        <input
          id="ownCheckbox"
          class="form-check-input"
          [(ngModel)]="own"
          type="checkbox"
          ngControl="own"
        />
        <label class="form-check-label" for="ownCheckbox">Equipe du Club</label>
      </div>
    </div>
    <div class="form-group" *ngIf="own">
      <label>URL du Calendrier</label>
      <input
        class="form-control"
        [(ngModel)]="team.calendarUrl"
        type="text"
        ngControl="calendarUrl"
      />
    </div>
    <div class="form-group" *ngIf="own">
      <label>URL du classement</label>
      <input
        class="form-control"
        [(ngModel)]="team.rankingUrl"
        type="text"
        ngControl="rankingUrl"
      />
    </div>
    <div class="form-group" *ngIf="own">
      <label>Affichage</label>
      <input
        class="form-control"
        [(ngModel)]="team.displayName"
        type="text"
        ngControl="displayName"
      />
    </div>
    <div class="form-group" *ngIf="own">
      <label>Ordre d'affichage (-1 pour ne pas afficher)</label>
      <input
        class="form-control"
        [(ngModel)]="team.displayOrder"
        type="number"
        ngControl="displayOrder"
      />
    </div>
    <div>
      <button (click)="goBack()" class="btn btn-grey">
        <span class="fa fa-arrow-left"></span> Retour
      </button>
      <a
        [routerLink]="['/admin/teams', team.id, 'edit']"
        class="btn btn-grey ml-2"
        *ngIf="own"
      >
        <span class="fa fa-edit"></span> Gerer joueurs
      </a>
      <div class="pull-right btn-toolbar">
        <button
          class="btn btn-danger mr-2"
          (click)="openModal(template)"
          *ngIf="team.id"
        >
          <span class="fa fa-trash"></span> Supprimer
        </button>

        <button
          (click)="saveTeam()"
          type="submit"
          class="btn btn-primary"
          *ngIf="team.id"
        >
          <span class="fa fa-floppy-o"></span>
          Sauvegarder
        </button>
        <button
          (click)="createTeam()"
          type="submit"
          class="btn pull-right btn-primary"
          *ngIf="!team.id"
        >
          <span class="fa fa-plus"></span>
          Ajouter
        </button>
      </div>
    </div>
  </fws-widget>
</div>
<ng-template #template>
  <div class="modal-header">
    <div class="modal-title"><span class="fa fa-trash>"></span> Delete</div>
  </div>
  <div class="modal-body">
    <p>
      Etes-vous sûr de vouloir supprimer le club <b>{{ team.name }} ?</b>
    </p>
    <div class="modal-footer">
      <button type="button" class="btn btn-grey" (click)="cancel()">
        Non
      </button>
      <button type="button" class="btn btn-danger" (click)="deleteTeam()">
        Supprimer
      </button>
    </div>
  </div>
</ng-template>
