<article class="mb-3">
  <div class="card" class="partialHidden shadow ">
    <!--
      <div
        class="fb-share-button pull-right"
        data-href="https://fcbartenheim.com"
        data-layout="button_count"
        data-size="small"
        data-mobile-iframe="true"
      > -->
    <!-- <a
          class="fb-xfbml-parse-ignore"
          target="_blank"
          [href]="
            'https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F.' +
            appUrl +
            '/article/' +
            article.id +
            '%2F&amp;src=sdkpreparse'
          "
          >Partager</a
        > -->
    <!-- </div> -->
    <h4 class="card-header">{{ article.title }}</h4>

    <div class="card-body">
      <span [innerHTML]="article.body"></span>
      <a
        href=""
        [routerLink]="['/article', article.id]"
        style="position: absolute; bottom: 10px; right: 10px; z-index: 99999"
        class="pull-right"
        >Suite...</a
      >
    </div>
    <div class="card-footer">
      <span *ngIf="article.publishedDate">
        {{ article.publishedDate | date: 'dd/MM/yyyy' }} -
        {{ article.publisher }}
      </span>
      <span *ngIf="!article.publishedDate">
        Non publié - {{ article.publisher }}
      </span>
    </div>
  </div>

  <!-- <button (click)="goBack()" class="btn btn-default">Retour</button>
    <button
      *ngIf="isAuthenticated"
      (click)="goToEdit()"
      class="btn btn-success"
    >
      Editer
    </button> -->
</article>
