<fws-page-header [white]="true">
  <img
    style="margin-top: -8px;"
    src="../../../assets/img/{{ competition?.shortName }}.png"
  />
  <span class="d-none d-sm-inline"> Classement </span>

  <span class="d-block-inline d-sm-none">
    Classement
  </span>
</fws-page-header>

<div class="bg-secondary pt-4">
  <div class="container" *ngIf="competition">
    <div class="row">
      <fws-widget
        [loading]="loading"
        [contentMargin]="false"
        class="w-100"
        [transparent]="true"
        [headerText]="
          competition?.name +
          ' -  Poule ' +
          competition?.group +
          ' - ' +
          competition?.season
        "
      >
        <fws-ranking-table
          [ranking]="ranking"
          [homeTeam]="homeTeam"
        ></fws-ranking-table>
      </fws-widget>
    </div>
  </div>
</div>
