<div class="container-fluid bg-gradient-secondary">
  <div class="row">
    <div class="container">
      <div class="row">
        <div
          id="carouselExampleIndicators"
          class="carousel slide shadow"
          data-ride="carousel"
        >
          <ol class="carousel-indicators">
            <li
              data-target="#carouselExampleIndicators"
              *ngFor="let url of imageUrls; let i = index"
              data-slide-to="i"
              [ngClass]="i == 0 ? 'active' : ''"
            ></li>
          </ol>
          <div class="carousel-inner">
            <div
              *ngFor="let url of imageUrls; let i = index"
              [ngClass]="i == 0 ? 'carousel-item active' : 'carousel-item'"
            >
              <img class="d-block w-100" src="{{ url }}" alt="First slide" />
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <fws-last-news [articles]="articles"></fws-last-news>
</div>

<!-- <div class="container text-center pt-5 pb-5">
  <h4>ABOUT US</h4>

  <p>Club aux valueurs famillales alliant le sportif à l'agréable.</p>
</div> -->

<div class="container-fluid bg-secondary text-white pt-4 pb-4">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-6">
          <fws-widget
            headerText="Dernier Match"
            [loading]="loadLastGame"
            [contentMargin]="false"
            [transparent]="true"
          >
            <fws-game-widget [game]="lastGame"></fws-game-widget>
          </fws-widget>
        </div>
        <div class="col-xs-12 col-lg-6 mt-4 mt-lg-0">
          <fws-widget
            headerText="Prochain Match"
            [loading]="loadLastGame"
            [contentMargin]="false"
            [transparent]="true"
          >
            <fws-game-widget [game]="nextGame"></fws-game-widget>
          </fws-widget>
        </div>
      </div>
    </div>
  </div>
</div>
