<article>
  <!--
      <div
        class="fb-share-button pull-right"
        data-href="https://fcbartenheim.com"
        data-layout="button_count"
        data-size="small"
        data-mobile-iframe="true"
      > -->
  <!-- <a
          class="fb-xfbml-parse-ignore"
          target="_blank"
          [href]="
            'https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F.' +
            appUrl +
            '/article/' +
            article.id +
            '%2F&amp;src=sdkpreparse'
          "
          >Partager</a
        > -->
  <!-- </div> -->

  <fws-widget [headerText]="article?.title + ' | ' + game?.competition">
    <div *ngIf="game" class="mb-4">
      <a class="btn btn-primary float-right" [routerLink]="['/games', game.id]"
        >Voir match</a
      >
      <div class="font-weight-bold">
        <div>
          <span style="width: 160px; display: inline-block;">{{
            game.homeTeam
          }}</span>
          {{ game.homeTeamScore }}
        </div>
        <div>
          <span style="width: 160px; display: inline-block;"
            >{{ game.awayTeam }}
          </span>
          {{ game.awayTeamScore }}
        </div>
      </div>
    </div>

    <span *ngIf="article" [innerHTML]="article.body"></span>
  </fws-widget>

  <!-- <button (click)="goBack()" class="btn btn-default">Retour</button>
    <button
      *ngIf="isAuthenticated"
      (click)="goToEdit()"
      class="btn btn-success"
    >
      Editer
    </button> -->
</article>
