<div class="well" *ngIf="isToday">
  <div *ngIf="game != null">
    <h3>
      <i
        class="fa fa-futbol-o"
        aria-hidden="true"
        style="margin-right: 10px;"
      ></i
      >Jour de match
    </h3>
    <div class="row" *ngIf="gameType == 'Championnat'">
      <div class="text-center">
        <div class="text-uppercase">
          <fws-competition [game]="game"></fws-competition>
        </div>
        <img src="../../../assets/img/lgef.png" />
        <img src="../../../assets/img/R3.png" />
      </div>
    </div>
    <div class="row" *ngIf="game.championship == 'Coupe de France'">
      <div class="text-center">
        <div class="text-uppercase">
          {{ game.championship }}
        </div>
        <img src="../../../assets/img/coupe_de_france.png" />
      </div>
    </div>
    <div class="row" *ngIf="game.championship == 'Coupe d\'Alsace'">
      <div class="text-center">
        <div class="text-uppercase">
          {{ game.championship }}
        </div>
        <img src="../../../assets/img/coupe_d_alsace.png" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-6 text-center">
        <img [src]="game.homeTeamLogoUrl" [title]="game.homeTeam" />
        <br />
        <span>{{ game.homeTeam }}</span>
      </div>
      <div class="col-md-6 col-xs-6 text-center">
        <img [src]="game.awayTeamLogoUrl" [title]="game.awayTeam" />
        <br />
        <span> {{ game.awayTeam }}</span>
      </div>
    </div>
    <div class="text-center" style="margin-top: 20px;">
      Aujourd'hui à <strong>{{ game.matchDate | frDate: 'time' }}</strong
      >!<br />
      Venez nombreux!
    </div>
  </div>
</div>

<!---->
