<div class="container-fluid h-100">
  <div class="row h-100">
    <aside class="col-12 col-md-2 p-0 bg-dark">
      <nav
        class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start"
      >
        <div class="collapse navbar-collapse">
          <ul
            class="flex-md-column flex-row navbar-nav w-100 justify-content-between"
          >
            <li class="nav-item">
              <a class="nav-link pl-0" href="" [routerLink]="['dashboard']">
                <span class="fa fa-dashboard mr-2"></span
                ><span class="d-none d-sm-inline">Dashboard</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link pl-0" href="" [routerLink]="['articles']">
                <span class="fa fa-comment mr-2"> </span
                ><span class="d-none d-sm-inline">Articles</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link pl-0" href="" [routerLink]="['players']">
                <span class="fa fa-user mr-2"></span
                ><span class="d-none d-sm-inline">Joueurs</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link pl-0" href="" [routerLink]="['games']">
                <span class="fa fa-calendar mr-2"></span
                ><span class="d-none d-sm-inline">Matches</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link pl-0" href="" [routerLink]="['teams/edit']"
                ><span class="fa fa-group mr-2"></span
                ><span class="d-none d-sm-inline">Equipes</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link pl-0" href="" [routerLink]="['clubs']"
                ><span class="fa fa-home mr-2"></span
                ><span class="d-none d-sm-inline">Clubs</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link pl-0" href="" [routerLink]="['ranking']"
                ><span class="fa fa-sort-amount-asc mr-2"></span
                ><span class="d-none d-sm-inline">Classement</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link pl-0" href="" [routerLink]="['sponsors']"
                ><span class="fa fa-thumbs-up mr-2"></span
                ><span class="d-none d-sm-inline">Partenaires</span></a
              >
            </li>
          </ul>
        </div>
      </nav>
    </aside>
    <main class="col">
      <router-outlet> </router-outlet>
    </main>
  </div>
</div>
