<fws-page-header> {{ title }} rencontre </fws-page-header>

<fws-widget [error]="errorMessage">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Domicile</label>
        <select class="form-control" [(ngModel)]="game.homeTeamId">
          <option value="" disabled>Equipe domicile</option>
          <option *ngFor="let team of teams" [value]="team.id">{{
            team.name
          }}</option>
        </select>
        <br />
        <input
          class="form-control"
          placeholder="Score domicile"
          [(ngModel)]="game.homeTeamScore"
          type="number"
        />
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label>Exterieur</label>
        <select class="form-control" [(ngModel)]="game.awayTeamId">
          <option value="" disabled>Equipe exterieur</option>
          <option *ngFor="let team of teams" [value]="team.id">{{
            team.name
          }}</option>
        </select>
        <br />
        <input
          class="form-control"
          placeholder="score exterieur"
          [(ngModel)]="game.awayTeamScore"
          type="number"
        />
      </div>
    </div>
  </div>
  <div
    *ngIf="
      game.homeTeamScore != null &&
      game.awayTeamScore != null &&
      game.homeTeamScore === game.awayTeamScore
    "
  >
    <label>Prolongations</label>
    <div class="row">
      <div class="col-md-6">
        <input
          class="form-control"
          placeholder="prolongation domicile"
          [(ngModel)]="game.homeExtraTimeScore"
          type="number"
        />
      </div>
      <div class="col-md-6">
        <input
          class="form-control"
          placeholder="prolongation exterieur"
          [(ngModel)]="game.awayExtraTimeScore"
          type="number"
        />
      </div>
    </div>
  </div>
  <div
    *ngIf="
      game.homeExtraTimeScore != null &&
      game.awayExtraTimeScore != null &&
      game.homeExtraTimeScore === game.awayExtraTimeScore
    "
  >
    <label>Pénalties</label>
    <div class="row">
      <div class="col-md-6">
        <input
          class="form-control"
          placeholder="pénalties domicile"
          [(ngModel)]="game.homePenaltyScore"
          type="number"
        />
      </div>
      <div class="col-md-6">
        <input
          class="form-control"
          placeholder="pénalties exterieur"
          [(ngModel)]="game.awayPenaltyScore"
          type="number"
        />
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Date</label>
    <input
      class="form-control"
      placeholder="Date du match"
      [(ngModel)]="game.matchDate"
      type="datetime-local"
    />
  </div>
  <div class="form-group">
    <label>Remis</label>
    <input class="form-control" [(ngModel)]="game.postponed" type="checkbox" />
  </div>
  <div class="form-group">
    <label>Competition</label>
    <select class="form-control" [(ngModel)]="game.competitionId">
      <option
        *ngFor="let competition of competitions"
        [ngValue]="competition.competitionId"
      >
        {{ competition.name }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label>Info supplémentaires</label>
    <input
      class="form-control"
      placeholder="Amical ou Tour (3e tour) ou journée (J22) "
      [(ngModel)]="game.championship"
      type="text"
    />
  </div>
  <div>
    <button (click)="goBack()" class="btn btn-grey mr-2">
      <span class="fa fa-arrow-left"></span> Retour
    </button>
    <a
      href=""
      [routerLink]="['/admin/games', game.id, 'players']"
      class="btn btn-grey"
      *ngIf="game.id"
      ><span class="fa fa-edit"></span> Composition</a
    >
    <div class="pull-right btn-toolbar">
      <button
        (click)="openModal(template)"
        class="btn btn-danger mr-2"
        *ngIf="game.id"
      >
        <span class="fa fa-trash"></span> Supprimer
      </button>

      <button
        (click)="saveGame()"
        type="submit "
        class="btn btn-primary"
        *ngIf="game.id"
      >
        <span class="fa fa-floppy-o"></span>
        Sauvegarder
      </button>
      <button
        (click)="createGame()"
        type="submit "
        class="btn btn-primary pull-right"
        *ngIf="!saving && !game.id"
      >
        <span class="fa fa-plus"></span> Ajouter
      </button>
    </div>
  </div>
</fws-widget>

<ng-template #template>
  <div class="modal-header">
    <div class="modal-title"><span class="fa fa-trash>"></span> Delete</div>
  </div>
  <div class="modal-body">
    <p>
      Etes-vous sûr de vouloir supprimer le match
      <b>{{ game.homeTeam }} - {{ game.awayTeam }}?</b>
    </p>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="cancel()">
        Non
      </button>
      <button type="button" class="btn btn-danger" (click)="deleteGame()">
        Supprimer
      </button>
    </div>
  </div>
</ng-template>
