<table id="leagueTable" class="table table-borderless bg-secondary text-white">
  <thead>
    <tr>
      <th></th>
      <th>Equipe</th>
      <th></th>
      <th>J</th>
      <th>V</th>
      <th>N</th>
      <th>D</th>
      <th class="d-none d-sm-table-cell">BP</th>
      <th class="d-none d-sm-table-cell">BC</th>
      <th class="d-none d-sm-table-cell">+/-</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of ranking"
      [ngClass]="{
        'bg-white text-primary': item.team == homeTeam,
        'border-bottom': item.position == 1,
        'border-top': item.position == 12
      }"
    >
      <td class="font-weight-bold" font-we>{{ item.position }}</td>

      <td [ngClass]="{ 'font-weight-bold': item.team == homeTeam }">
        <img [src]="item.imageUrl" />
        <span class="d-inline d-sm-none">
          {{ item.team.substr(0, item.team.indexOf(' ')) }}
        </span>
        <span class="d-none d-sm-inline">
          {{ item.team }}
        </span>
      </td>
      <td style="font-size: 18px;" class="text-primary">
        <b>{{ item.points }}</b>
      </td>
      <td class="font-weight-bold">{{ item.matchPlayed }}</td>
      <td>{{ item.matchWon }}</td>
      <td>{{ item.matchDraw }}</td>
      <td>{{ item.matchLost }}</td>
      <td class="d-none d-sm-table-cell">
        {{ item.goalsScored }}
      </td>
      <td class="d-none d-sm-table-cell">
        {{ item.goalsAgainst }}
      </td>
      <td class="d-none d-sm-table-cell">{{ item.goalDifference }}</td>
    </tr>
  </tbody>
</table>

<!-- Try -->
<!-- <div *ngFor="let item of rankings">
  <div class="panel">
    <div class="row">
      <div class="col-xs-2">
        <b> {{ item.position }}</b>
      </div>
      <div class="col-xs-10">
        <b><img [src]="item.imageUrl" /> {{ item.team }}</b>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-1">{{ item.matchPlayed }}</div>
      <div class="col-xs-1">{{ item.matchDraw }}</div>
      <div class="col-xs-1">{{ item.matchLost }}</div>
      <div class="col-xs-1">+{{ item.goalsScored }}</div>
      <div class="col-xs-1">-{{ item.goalsAgainst }}</div>
      <div class="col-xs-2">{{ item.goalDifference }}</div>
      <div class="col-xs-2">
        <b>{{ item.points }}pts</b>
      </div>
    </div>
  </div>
</div> -->
