<div class="container">
  <h2 class="pageHeader">Calendrier</h2>
  <div *ngFor="let month of gamesPerMonth">
    <a
      class="btn btn-primary"
      data-toggle="collapse"
      role="button"
      [attr.href]="'#' + month[0].MatchDate | slice: 0:8"
      data-toggle="collapse"
      [attr.aria-controls]="month[0].MatchDate | slice: 0:7"
      >{{ month[0].MatchDate | frDate: 'month/year' | uppercase }}</a
    >

    <hr />
    <div [attr.id]="month[0].MatchDate | slice: 0:7" class="collapse">
      <div class="card" *ngFor="let game of month; let i = index">
        <div class="card-body game-summary ">
          <a [routerLink]="['/game', game.Id]">
            <fws-game [game]="game"></fws-game>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
