<div *ngIf="game != null">
  <div class="text-center text-muted">
    <label *ngIf="isToday == false">
      {{ game.matchDate | date: 'EEEE dd LLLL hh:mm' }}
    </label>
    <label *ngIf="isToday == true">
      Aujourd'hui à {{ game.matchDate | date: 'HH:mm' }}
    </label>
  </div>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <img [src]="game.homeTeamLogoUrl" [title]="game.homeTeam" /><br />
        <div class="hidden-sm bold">{{ game.homeTeam }}</div>
      </div>
      <div class="col text-center">
        <img [src]="game.awayTeamLogoUrl" [title]="game.awayTeam" /><br />
        <div class="hidden-sm bold">{{ game.awayTeam }}</div>
      </div>
    </div>
  </div>
  <div class="text-center align-middle">
    <span style="margin-top: 10px; margin-bottom: 5px;">
      <fws-game-score [game]="game"></fws-game-score>
    </span>
  </div>
  <div class="text-muted text-center">
    <fws-competition [game]="game"></fws-competition>
  </div>
</div>
