<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/30aa7cdf-3263-4f77-a037-32ed21aa3b1b/resourcegroups/FcBartenheim/providers/Microsoft.Web/sites/fcbWebApi</ResourceId>
    <ResourceGroup>FcBartenheim</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fcbwebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fcbwebapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>fcbWebApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$fcbWebApi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FootballWebSiteDbEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=82.64.168.89;Initial Catalog=FootballWebSiteDb;User ID=ApplicationUser;Password=ApplicationUser" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FootballWebSiteApi.Entities.FootballWebSiteDbEntities, FootballWebSiteApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="FootballWebSiteDbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Entities.FootballWebSiteModel.csdl|res://*/Entities.FootballWebSiteModel.ssdl|res://*/Entities.FootballWebSiteModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=82.64.168.89;Initial Catalog=FootballWebSiteDb;User ID=ApplicationUser;Password=ApplicationUser"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>