<fws-page-header>
  Editer les Equipes
</fws-page-header>

<fws-widget [error]="errorMessage">
  <h5>Selectionner l'équipe à éditer.</h5>
  <select
    [(ngModel)]="selectedTeam"
    (change)="onTeamChange($event)"
    class="form-control"
  >
    <option *ngFor="let team of localTeams" [value]="team.id">{{
      team.name
    }}</option>
  </select>

  <hr />
  <h5>
    Cliquez sur les joueurs à déplacer.
  </h5>
  <div *ngIf="teamPlayers != null">
    <div class="wrapper">
      <div class="row">
        <div class="col-md-4">
          <h4 class="text-muted">Equipe</h4>

          <div
            *ngFor="let player of teamPlayers"
            (click)="remove(player)"
            class="pointer"
          >
            {{ player.firstName }} {{ player.lastName }}
          </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <h4 class="text-muted">Joueurs</h4>
          <input
            [(ngModel)]="query"
            class="form-control"
            placeholder="Filtre"
          />
          <div
            *ngFor="
              let player of poolPlayers | search: 'firstName,lastName':query
            "
            (click)="add(player)"
            class="pointer"
          >
            {{ player.firstName }} {{ player.lastName }}
          </div>
        </div>
      </div>
    </div>
  </div>
</fws-widget>
