<fws-page-header>
  Partenaires
</fws-page-header>

<a
  class="btn btn-primary float-right mt-2"
  href=""
  [routerLink]="['/admin/sponsors/0/edit']"
>
  <span class="fa fa-plus"></span> Partenaire
</a>

<div class="mt-4" *ngIf="sponsors$ | async as sponsors">
  <fws-widget [headerText]="sponsors.length + ' partenaires'">
    <table class="table table-clickable table-hover table-borderless">
      <thead>
        <tr>
          <th>Logo</th>
          <th>Nom</th>
          <th>Site web</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sponsor of sponsors" (click)="onSponsorSelect(sponsor)">
          <td>
            <img
              style="width: 100px;"
              class="img-fluid"
              src="../../../assets/img/sponsors/{{ sponsor.logoUrl }}"
            />
          </td>
          <td class="align-middle">{{ sponsor.name }}</td>
          <td class="align-middle">{{ sponsor.siteUrl }}</td>
        </tr>
      </tbody>
    </table>
  </fws-widget>
</div>
