<footer class="footer navbar-dark bg-dark text-white" style="height: 200px;">
  <!-- Footer Links -->
  <!-- <div class="container text-center text-md-left mt-4"> -->
  <!-- Grid row -->
  <!-- <div class="row"> -->
  <!-- Grid column -->
  <!-- <div class="col-md-6 mt-md-0 mt-3">

        <h5 class="text-uppercase">Allez les verts</h5>
        <p>
          Merci pour votre visite. En esperant que vous avez trouvé ce que vous
          cherchiez.
        </p>
      </div> -->
  <!-- Grid column -->

  <!-- <hr class="clearfix w-100 d-md-none pb-3" /> -->

  <!-- Grid column -->
  <div class="mb-md-0 mb-3 text-center w-100 mt-4">
    <!-- Links -->

    <h5 class="text-uppercase">Liens utiles</h5>

    <ul class="list-unstyled">
      <li>
        <a href="https://ejps.fr/" target="_blank">EJPS</a>
      </li>
      <li>
        <a href="https://lgef.fff.fr/" target="_blank">LGEF</a>
      </li>
      <li>
        <a href="https://lafa.fff.fr/" target="_blank">LAFA</a>
      </li>
    </ul>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <!-- <div class="col-md-6 mb-md-0 mb-3">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!"><span class="fa fa-facebook-square"></span>Facebook</a>
          </li>
          <li>
            <a href="#!">Mentions légales</a>
          </li>
        </ul>
      </div> -->
  <!-- Grid column -->
  <!-- </div> -->
  <!-- Grid row -->
  <!-- </div> -->
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="text-center py-3">
    © 2020 Copyright
    <a href="https://marez.fr/"> marez.fr</a>
  </div>
  <!-- Copyright -->
</footer>
