<footer class="footer bg-secondary navbar-dark">
  <div class="container">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="" [routerLink]="['admin']">Admin</a>
      </li>
      <!-- <li>
        <a
          class="nav-link"
          href="mailto:maxime.matter@hotmail.fr?subject=Football WebSite"
          >Marez</a
        >
      </li> -->
    </ul>
    <!-- <span class="navbar-text">
      Navbar text with an inline element
    </span> -->
  </div>
</footer>
