<h2>Green Tints background Colors</h2>
<div class="row">
  <div class="green-1 col-12" style="height: 70px">
    <div>#06502E</div>
    <div>6 80 46</div>
  </div>
</div>

<div class="row">
  <div class="green-2 col-12" style="height: 70px">
    <div>#08673c</div>
    <div>8 103 60</div>
  </div>
</div>

<div class="row">
  <div class="green-3 col-12" style="height: 70px">
    <div>#097343</div>
    <div>9 115 67</div>
  </div>
</div>

<div class="row">
  <div class="green-4 col-12" style="height: 70px">
    <div>#3a8f68</div>
    <div>58 143 104</div>
  </div>
</div>

<div class="row">
  <div class="green-5 col-12" style="height: 70px">
    <div>#6BAB8E</div>
    <div>107 171 142</div>
  </div>
</div>

<div class="row">
  <div class="green-6 col-12" style="height: 70px">
    <div>#9CC7B3</div>
    <div>156 199 179</div>
  </div>
</div>

<h2>Mono green colors</h2>
Used for higer contrast between greens.

<div class="row">
  <div class="mono-green-4 col-12" style="height: 70px">
    <div>#054025</div>
    <div>156 199 179</div>
  </div>
</div>

<div class="row">
  <div class="mono-green-3 col-12" style="height: 70px">
    <div>#9CC7B3</div>
    <div>156 199 179</div>
  </div>
</div>

<div class="row">
  <div class="mono-green-2 col-12" style="height: 70px">
    <div>#9CC7B3</div>
    <div>156 199 179</div>
  </div>
</div>

<div class="row">
  <div class="mono-green-1 col-12" style="height: 70px">
    <div>#9CC7B3</div>
    <div>156 199 179</div>
  </div>
</div>

<h2>Other colors</h2>
<div class="row">
  <div class="white col-12" style="height: 70px">
    <div>#fffafa</div>
    <div></div>
  </div>
</div>

<div class="row">
  <div class="grey col-12" style="height: 70px">
    <div>#ecf0f1</div>
    <div></div>
  </div>
</div>

<h2>Font color</h2>
<p></p>
