<!-- medium  and large -->
<div class="d-none d-md-block">
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <b> {{ game.matchDate | date: 'EEEE dd LLLL' | titlecase }}</b> <br />
      <span class="fa fa-clock-o"></span>
      {{ game.matchDate | date: 'HH:mm' }} <br /><br />
      <div class="text-muted">
        <fws-competition [game]="game"></fws-competition>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 text-center">
      <img [src]="game.homeTeamLogoUrl" />
      <br />
      <b>{{ game.homeTeam }}</b>
    </div>
    <div class="col-md-1 col-sm-1 text-center align-middle">
      <div style="margin-top: 10px; margin-bottom: 5px;">
        <fws-game-score [game]="game"></fws-game-score>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 text-center">
      <img [src]="game.awayTeamLogoUrl" /> <br />
      <b>{{ game.awayTeam }}</b>
    </div>
  </div>
</div>

<!-- small and extra small -->
<div class="d-block d-md-none">
  <div class="text-center" style="margin-bottom: 10px;">
    <b> {{ game.matchDate | date: 'EEEE dd LLLL' | titlecase }}</b> &nbsp;<span
      class="fa fa-clock-o"
    ></span>
    {{ game.matchDate | date: 'HH:mm' }}
    <div class="text-muted">
      <fws-competition [game]="game"></fws-competition>
    </div>
    <div class="row">
      <div class="col-6 text-center">
        <img [src]="game.homeTeamLogoUrl" />
        <br />
        <b>{{ game.homeTeam }}</b>
      </div>
      <div class="col-6 text-center">
        <img [src]="game.awayTeamLogoUrl" /> <br />
        <b>{{ game.awayTeam }}</b>
      </div>
    </div>
    <div class="text-center align-middle">
      <div style="margin-top: 10px; margin-bottom: 5px;">
        <fws-game-score [game]="game"></fws-game-score>
      </div>
    </div>
  </div>
</div>
