<fws-page-header>
  Organigramme
</fws-page-header>

<div class="container mt-3">
  <div *ngIf="organizationChart$ | async as organizationChart">
    <div class="row">
      <div class="col-12">
        <div *ngFor="let group of organizationChart" class="mb-3">
          <fws-widget [headerText]="group.title">
            <div class="row">
              <div *ngFor="let person of group.persons" class="p-1 box">
                <div class="card mb-2">
                  <div class="bg-grey">
                    <img
                      [src]="
                        'https://cdn.marez.fr/football/players/' +
                        person.firstName +
                        '_' +
                        person.lastName +
                        '.jpg'
                      "
                      class="img-fluid card-img-top mb-2"
                      onerror="this.onerror=null;this.src='https\:\/\/cdn.marez.fr/football/players/default.jpg'"
                    />
                    <div class="text-center">
                      <h5 class="card-title text-primary">
                        <label class="text-uppercase font-weight-bold">{{
                          person.lastName
                        }}</label
                        ><br />
                        {{ person.firstName }}
                      </h5>

                      <div class="bg-primary" *ngIf="person.title">
                        <h6 class="card-subtitle text-white p-2">
                          {{ person.title }}
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fws-widget>
        </div>
      </div>
    </div>
    <!-- <div
      *ngFor="let group of organizationChart; let i = index"
      class="card-block"
    >
      <div class="heading">
        <a
          [attr.href]="'#' + group.title.replace(' ', '')"
          data-toggle="collapse"
          [ngClass]="i == 0 ? 'collapsed' : ''"
        >
          {{ group.title }}
        </a>
      </div>
      <div
        [ngClass]="
          i == 0
            ? 'row card-container collapse in'
            : 'row card-container collapse'
        "
        [attr.id]="group.title.replace(' ', '')"
      >
        <div
          *ngFor="let person of group.persons"
          class="col-md-2 col-sm-6 col-xs-8 card col-xs-offset-2 col-sm-offset-0"
          [ngClass]="group.persons.length == 2 ? 'col-offset-md-2' : ''"
        >
          <div class="content">
            <img
              [src]="
                '../../../assets/img/players/' +
                person.firstName +
                '_' +
                person.lastName +
                '.png'
              "
              onerror="this.onerror=null;this.src='../../../assets/img/players/default.png'"
              class="img img-fluid"
            />
            <div class="text-center">
              <div class="title">
                {{ person.lastName | uppercase }}
                {{ person.firstName }}
              </div>
              <div class="subtitle">
                {{ person.title }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
