<div
  class="card shadow"
  [ngClass]="{ 'w-100 bg-transparent shadow-none': transparent }"
>
  <h5
    [ngClass]="{
      'bg-transparent text-white': transparent,
      'card-header': contentMargin == true
    }"
    class="text-uppercase"
    *ngIf="headerText"
  >
    {{ headerText }}
    <div style="margin-top: -45px;" class="display-4">_</div>
  </h5>

  <div
    [ngClass]="{
      'card-body': contentMargin == true,
      '': contentMargin == false
    }"
  >
    <ng-content *ngIf="!loading"></ng-content>
    <div *ngIf="loading" class="text-center card-body">
      <i class="fa fa-futbol-o fa-spin"></i>
      {{ loadingText }}
    </div>
  </div>
  <div *ngIf="error">
    <div
      class="alert alert-danger"
      [ngClass]="{
        '': contentMargin == false,
        ' alert-margin ': contentMargin == true
      }"
    >
      {{ error }}
    </div>
  </div>
</div>
